* {
  font-family: 'Teko';
  user-select: none;
}

.chn {
  font-size: 1.875em !important;
  margin-top: 12px;
}

.page {
  display: flex;
  box-sizing: border-box;

  &:nth-child(1) {
    justify-content: space-between;
    padding: 160px 100px 60px;

    .slogan {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .founder {
        font-size: 1.5em;
        color: rgba($color: #333, $alpha: 0.9);
      }

      .sub-title {
        font-size: 1.25em;
        color: rgba($color: #333, $alpha: 0.9);
      }

      .title {
        color: #333;
        font-size: 6em;
        font-weight: 500;
      }
    }

    .pic-wrapper {
      display: flex;
      flex-direction: column;
      width: 440px;
      margin-right: 80px;

      .pic {
        width: 100%;
        height: 100%;
        background-image: url('https://images.pexels.com/photos/3822455/pexels-photo-3822455.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
        background-position: center;
        background-size: cover;
      }

      .desc {
        margin-top: 20px;
        font-size: 1.25em;
        color: rgba($color: #333, $alpha: 0.9);
      }
    }
  }

  &:nth-child(2) {
    .intorduce {
      flex: 2;
      display: flex;
      align-items: center;
      margin: 0 0 120px 160px;

      .title > div {
        color: #333;
        font-size: 4em;
        font-weight: 700;
      }
    }

    .detail {
      flex: 3;
      display: flex;
      flex-direction: column;
      padding: 120px 0 40px 0;

      .pic {
        flex: 2;
        width: 100%;
        background-image: url('https://images.pexels.com/photos/371160/pexels-photo-371160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
        background-size: cover;
      }

      .desc {
        flex: 1;
        font-size: 1.25em;
        color: #333;
        margin-top: 40px;

        & > div {
          margin-bottom: 8px;
        }

        .name {
          font-size: 1.5em;
          font-weight: 500;
          margin-bottom: 32px;
        }
      }
    }
  }

  &:nth-child(3) {
    .intorduce {
      flex: 2;
      display: flex;
      align-items: center;
      margin: 0 0 120px 160px;

      .title > div {
        color: #333;
        font-size: 4em;
        font-weight: 700;
      }
    }

    .detail {
      flex: 3;
      display: flex;
      flex-direction: column;
      padding: 40px 0 120px 0;

      .pic {
        flex: 2;
        width: 100%;
        background-image: url('https://images.pexels.com/photos/1500482/pexels-photo-1500482.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
        background-size: cover;
      }

      .desc {
        flex: 1;
        font-size: 1.25em;
        color: #333;
        margin-top: 40px;

        & > div {
          margin-bottom: 8px;
        }

        .name {
          font-size: 1.5em;
          font-weight: 500;
          margin-bottom: 32px;
        }
      }
    }
  }

  &:nth-child(4) {
    .title {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 120px 160px;

      .date {
        color: rgba(0, 0, 0, 0.85);
        font-size: 2em;
      }

      & > div {
        color: #333;
        font-size: 4em;
        font-weight: 700;
      }
    }

    .info {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 400px;

      & > div {
        font-size: 1em;
        color: #333;
        margin-bottom: 12px;
      }
    }
  }

  &:nth-child(5) {
    .intorduce {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 0 120px 160px;

      .title > div {
        color: #333;
        font-size: 4em;
        font-weight: 700;
      }

      .copy-right {
        color: #333;
        width: fit-content;

        & > div {
          font-weight: 500;
          margin-top: 4px;
        }
      }
    }

    .detail {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 240px;

      .desc {
        color: #333;

        & > div {
          margin-bottom: 8px;
        }

        .title {
          margin: 20px 0;
          font-weight: 500;
          font-size: 2em;
        }
      }
    }
  }
}
