* {
  font-family: 'Barlow Semi Condensed';
  user-select: none;
  text-transform: uppercase;
}

.chn {
  font-size: 1.875em !important;
  margin-top: 12px;
}

.page {
  display: flex;
  box-sizing: border-box;

  &:nth-child(1) {
    align-items: flex-end;
    background: url('https://images.pexels.com/photos/4325466/pexels-photo-4325466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
    background-color: #3b403c;

    .slogan {
      margin: 0 160px 120px 160px;

      & > div {
        color: #fff;
        font-size: 4em;
        font-weight: 700;
      }
    }
  }

  &:nth-child(2) {
    background-color: #3b403c;

    .intorduce {
      flex: 2;
      display: flex;
      align-items: center;
      margin: 0 0 120px 160px;

      .title > div {
        color: #fff;
        font-size: 4em;
        font-weight: 700;
      }
    }

    .detail {
      flex: 3;
      display: flex;
      flex-direction: column;
      padding: 120px 0 40px 0;

      .pic {
        flex: 2;
        width: 100%;
        background-image: url('https://images.pexels.com/photos/371160/pexels-photo-371160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
        background-size: cover;
      }

      .desc {
        flex: 1;
        font-size: 1.25em;
        color: #fff;
        margin-top: 40px;

        & > div {
          margin-bottom: 8px;
        }

        .name {
          font-size: 1.5em;
          font-weight: 500;
          margin-bottom: 32px;
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: #998b6e;

    .intorduce {
      flex: 2;
      display: flex;
      align-items: center;
      margin: 0 0 120px 160px;

      .title > div {
        color: #fff;
        font-size: 4em;
        font-weight: 700;
      }
    }

    .detail {
      flex: 3;
      display: flex;
      flex-direction: column;
      padding: 40px 0 120px 0;

      .pic {
        flex: 2;
        width: 100%;
        background-image: url('https://images.pexels.com/photos/1500482/pexels-photo-1500482.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-position: center;
        background-size: cover;
      }

      .desc {
        flex: 1;
        font-size: 1.25em;
        color: #fff;
        margin-top: 40px;

        & > div {
          margin-bottom: 8px;
        }

        .name {
          font-size: 1.5em;
          font-weight: 500;
          margin-bottom: 32px;
        }
      }
    }
  }

  &:nth-child(4) {
    background-color: #b1a998;

    .title {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 120px 160px;

      .date {
        color: rgba(255, 255, 255, 0.85);
        font-size: 2em;
      }

      & > div {
        color: #fff;
        font-size: 4em;
        font-weight: 700;
      }
    }

    .info {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 400px;

      & > div {
        font-size: 1em;
        color: #fff;
        margin-bottom: 12px;
      }
    }
  }

  &:nth-child(5) {
    background-color: #ccc3a8;

    .intorduce {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 0 120px 160px;

      .title > div {
        color: #fff;
        font-size: 4em;
        font-weight: 700;
      }

      .copy-right {
        color: #fff;
        width: fit-content;

        & > div {
          font-weight: 500;
          margin-top: 4px;
        }
      }
    }

    .detail {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 240px;

      .desc {
        color: #fff;

        & > div {
          margin-bottom: 8px;
        }

        .title {
          margin: 20px 0;
          font-weight: 500;
          font-size: 2em;
        }
      }
    }
  }
}
