* {
  font-family: 'Teko';
  user-select: none;
}

.page {
  display: flex;
  box-sizing: border-box;
  padding: 160px 100px 60px;

  &:nth-child(1) {
    justify-content: space-between;

    .slogan {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .founder {
        font-size: 1.5em;
        color: rgba($color: #333, $alpha: 0.9);
      }

      .sub-title {
        font-size: 1.25em;
        color: rgba($color: #333, $alpha: 0.9);
      }

      .title {
        color: #333;
        font-size: 6em;
        font-weight: 500;
      }
    }

    .pic-wrapper {
      display: flex;
      flex-direction: column;
      width: 440px;
      margin-right: 80px;

      .pic {
        width: 100%;
        height: 100%;
        background-image: url('https://images.pexels.com/photos/3822455/pexels-photo-3822455.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        background-position: center;
        background-size: cover;
      }

      .desc {
        margin-top: 20px;
        font-size: 1.25em;
        color: rgba($color: #333, $alpha: 0.9);
      }
    }
  }

  &:nth-child(2) {
    justify-content: space-between;

    .title {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333;
      font-size: 4em;
      font-weight: 500;
    }

    .detail {
      flex: 4;
      display: flex;

      .text-img {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 40px;

        .text {
          font-size: 1.875em;
          font-weight: 300;
          color: #333;

          & > div {
            margin-bottom: 6px;
          }
        }
      }

      .img {
        flex: 1;
        background-image: url('https://images.pexels.com/photos/1457983/pexels-photo-1457983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        background-position: center;
        background-size: cover;
        margin-right: 80px;
      }
    }
  }

  &:nth-child(3) {
    justify-content: space-between;

    .title {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333;
      font-size: 4em;
      font-weight: 500;
    }

    .text-img {
      flex: 4;
      display: flex;
      align-items: center;

      .text {
        font-size: 1.875em;
        font-weight: 300;
        color: #333;
        margin: 120px 0 0 80px;

        & > div {
          margin-bottom: 6px;
        }
      }

      .img {
        width: 500px;
        height: 500px;
        background-image: url('https://images.pexels.com/photos/1500482/pexels-photo-1500482.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
        background-size: cover;
        background-position: center;
      }
    }
  }

  &:nth-child(4) {
    .title {
      flex: 1;
      display: flex;
      align-items: center;
      color: #333;
      font-size: 4em;
      font-weight: 500;
    }

    .news {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 80px;

      .news-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 120px;
        background: #f0f0f0;
        margin-bottom: 32px;
        transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 20px 32px;
        box-sizing: border-box;

        .title {
          color: #333;
          font-size: 2em;
        }

        .date {
          font-size: 1.25em;
          color: rgba($color: #333, $alpha: 0.9);
          margin-bottom: 4px;
        }

        .chn {
          color: #333;
          font-size: 1.5em;
        }

        &:hover {
          cursor: pointer;
          background: rgba($color: #000, $alpha: 0.9);
        }

        &:hover .title,
        &:hover .date,
        &:hover .chn {
          color: #fff;
        }
      }
    }
  }

  &:nth-child(5) {
    .intorduce {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        color: #333;
        font-size: 4em;
        font-weight: 500;
      }

      .copy-right {
        color: #333;
        width: fit-content;

        & > div {
          margin-top: 4px;
        }
      }
    }

    .detail {
      flex: 6;
      display: flex;
      align-items: center;
      justify-content: center;

      .desc {
        color: #333;

        & > div {
          margin-bottom: 6px;
        }

        .wechat {
          font-size: 1.25em;
        }

        .title {
          margin: 20px 0;
          font-weight: 500;
          font-size: 2.25em;
        }
      }
    }
  }
}
